<!DOCTYPE html>
<html>
<head>
  <title>Blog|Wim Huiskes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="device-width, initial-scale=1.0">
</head>
<body>
<div id="sidebar">
	
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag "logo.svg" %>
		<% end %>
	</div>

	<ul>
	 	<li class="category">Website</li>
	 	<li><%= link_to "Blog", root_path %></li>
	 	<li><%= link_to "About", about_path %></li>
	</ul>

	<ul>
		<li class="category">Social</li>
		<li><a href="https://www.facebook.com/pages/Webdesign-by-Wim-Huiskes/766566970109099?ref=aymt_homepage_panel" target="blank">Facebook</a></li>
		<li><a href="http://nl.linkedin.com/in/wimhuiskes" target="blank">LinkedIn</a></li>
		<li><a href="https://plus.google.com/117688881867716805198/posts/p/pub" target="blank">Google+</a></li>
		<li><a href="mailto:info@wimhuiskes.nl">email</a></li>
	</ul>
	
	<% if !user_signed_in? %>
		<p class="sign_in"><%=link_to "Admin Log In",new_user_session_path %></p>
	<% end %>

</div>
<div id="main_content">
	<div id="header">
		<% if current_page?(root_path) %>
		<p>All Posts</p>
		<% elsif current_page?(about_path) %>
		<p>About</p>
		<% else %>
			<%= link_to "Back to all Posts", root_path %>
			<% end %>
		<% if user_signed_in? %>
		<div class="buttons">
			<%= link_to new_post_path do %><button class="button">New Post
			</button><% end %>
			<%= link_to destroy_user_session_path, :method => :delete do %><button class="button">Log Out</button><% end %>
		</div>
		<% end %>
			
		<span class="nav_btn"><i class="fa fa-align-justify fa-lg" aria-hidden="true"></i>
</span>

	</div>
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert") %>
	<% end %>
	<%= yield %>
</div>


</body>
</html>
